<header>
  <h2> New Artists: </h2>
</header>

<form>

  <label for="artist">Artist</label>
  <input  type="text" name="artist" placeholder="Artist">
  <button type="submit" name="submit">Search</button>

</form>